---
interface Props {}

const {} = Astro.props;
---

<footer aria-labelledby="footer-heading" class="relative border-t border-gray-900/10 py-24 sm:py-32">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="xl:grid xl:grid-cols-3 xl:gap-8">
    <img class="h-24" src="/large.png" alt="Mukadazlabs">
    <p class="text-sm leading-6 text-gray-600 max-w-md">
        Empowering businesses through innovative solutions. We transform ideas into reality, helping companies thrive in the digital age.
      </p>
      
    
        <div>
          <h3 class="text-sm font-semibold leading-6 text-gray-900">Company</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="/impacts" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Impacts</a>
            </li>
            <li>
              <a href="/insights" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Insights</a>
            </li>
            <li>
              <a href="/company" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Company</a>
            </li>
            <li>
              <a href="/contact" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Contact</a>
            </li>
          </ul>
        
    </div>
  </div>
  <div class="mt-12 border-t border-gray-200 pt-8">
    <p class="text-sm text-gray-500 text-center">
      © 2025 Mukadazlabs. All rights reserved. Made with ❤️ to power businesses and dreams.
    </p>
  </div>
</footer>
