---
interface Props {
}

const {} = Astro.props;
---

<div class="mx-auto mt-32 max-w-7xl sm:mt-56 sm:px-6 lg:px-8">
    <div
            class="relative overflow-hidden bg-gray-200 px-6 py-20 shadow-xl sm:rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20">
        <img class="absolute inset-0 h-full w-full object-cover"
             src="/images/c.jpg"
             alt="">
        <div class="absolute inset-0 bg-gray-900/50 mix-blend-multiply"></div>
        <div class="relative mx-auto max-w-2xl lg:mx-0">
            <figure>
                <blockquote class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
                    <p>“My dream is to build a home for your business, a place where your business gets the best of attention and care. At Mukadaz Labs we bring the best of strategies and technologies so your business is empowered to do what it is meant to do - Succeed.”</p>
                </blockquote>
                <figcaption class="mt-6 text-base text-white">
                    <div class="font-semibold">Taofeeq Mukadaz</div>
                    <div class="mt-1">Founder</div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>